@font-face {
	font-family: "Kumbh Sans";
	src: url("./fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Kumbh Sans";
	src: url("./fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf");
	font-weight: 700;
	font-display: swap;
}

:root {
	--orange: hsl(26, 100%, 55%);
	--pale-orange: hsl(25, 100%, 94%);
	--very-dark-blue: hsl(220, 13%, 13%);
	--dark-grayish-blue: hsl(219, 9%, 45%);
	--grayish-blue: hsl(220, 14%, 75%);
	--light-grayish-blue: hsl(223, 64%, 98%);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--lightbox-background: hsla(0, 0%, 0%, 75%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* RESET */
ul {
	padding: 0;
}

input,
input[type="submit"],
input[type="button"],
button {
	background: none;
	border: none;
	padding: 0;
	font-family: "Kumbh Sans", sans-serif;
}

a {
	text-decoration: none;
	color: unset;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Kumbh Sans", sans-serif;
	color: var(--grayish-blue);
	box-sizing: border-box;
}

/* UTILITY */

img {
	width: 100%;
	height: auto;
}

.hide {
	display: none !important;
}

.show {
	display: block;
}

.button-image {
	background-repeat: no-repeat;
	background-position: center;
	height: 2rem;
	width: 2rem;
	margin-inline-start: auto;
	margin-inline-end: 1rem;
}

#checkout-button,
.add-to-cart {
	color: var(--white);
	border-radius: 5px;
	background-color: var(--orange);
	padding: 1rem;
}

/* HEADER */

header {
	display: flex;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	height: 4rem;
}

#open-mobile-menu {
	margin-inline-end: 1rem;
	background-image: url("./images/icon-menu.svg");
	margin: 0 1rem 0 0;
}

header h1 {
	margin-inline-end: 3rem;
}

#avatar {
	width: 2.2rem;
	border: 2px solid transparent;
	border-radius: 100%;
}

header nav {
	margin-inline-end: auto;
}

.header-menu {
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	bottom: 0;
	width: 65%;
	z-index: 2;
	padding: 1rem;
}

.header-menu a {
	font-size: 1.2rem;
	color: var(--very-dark-blue);
	font-weight: 700;
}

.header-menu li {
	margin-block-end: 2rem;
}

.header-menu::after {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 55%;
	z-index: 1;
	top: 0;
	right: -55%;
	background-color: rgba(0, 0, 0, 0.7);
}

#close-mobile-menu {
	margin-block-end: 2.5rem;
	background-image: url("./images/icon-close.svg");
	background-position: left center;
}

.header-links li {
	list-style-type: none;
	justify-content: space-between;
}

/* SHOPPING CART */

.shopping-cart-toggle-container {
	margin-inline-end: 2rem;
	margin-inline-start: auto;
	position: relative;
}

#shopping-cart-toggle {
	height: 1.3rem;
	width: 1.7rem;
	position: relative;
}

header {
	position: relative;
}

.tooltip {
	display: block;
	content: "";
	background-color: var(--orange);
	color: white;
	padding: 0.2rem 0.4rem;
	position: absolute;
	z-index: 3;
	top: 0.2rem;
	right: -1.8rem;
	border-radius: 0.6rem;
	min-width: 1rem;
	text-align: center;
	font-size: 0.9rem;
}

#shopping-cart-toggle img {
	margin-block-start: 2px;
	padding: 1rem;
}

#shopping-cart {
	position: absolute;
	min-height: 18rem;
	width: 95%;
	margin: 0 auto;
	top: 5rem;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: white;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
}

#shopping-cart legend {
	padding: 1.5rem 0;
	margin-inline-start: 1.5rem;
	margin-block-end: 1.5rem;
	width: 40%;
	color: var(--very-dark-blue);
	font-weight: 700;
}

#shopping-cart fieldset legend::after {
	content: "";
	background-color: var(--grayish-blue);
	height: 1px;
	width: 100%;
	position: absolute;
	top: 4rem;
	left: 0;
	right: 0;
}

.empty-cart-message {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	margin-block-start: 25%;
	align-items: center;
	color: var(--dark-grayish-blue);
}

.shopping-cart-product-information p {
	color: var(--dark-grayish-blue);
}

#product-total {
	color: var(--very-dark-blue);
	font-weight: 700;
}

.shopping-cart-product-row,
#checkout-button {
	margin: 0 1.5rem 2rem;
}

#checkout-button {
	background-color: var(--orange);
	padding: 1rem;
	font-size: 1rem;
	border-radius: 0.8rem;
}

.shopping-cart-product-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* align-items: center; */
}

.shopping-cart-product-row img {
	height: 4rem;
	width: 4rem;
	border-radius: 0.5rem;
}

.shopping-cart-product-information {
	display: flex;
	flex-direction: column;
}

.shopping-cart-product-information {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem 0;
	margin-inline-end: auto;
	margin-inline-start: 1rem;
}

#cart-remove-product {
	color: white;
	width: 1rem;
	height: 1rem;
	margin: auto 0;
	background-image: url("./images/icon-delete.svg");
	background-repeat: no-repeat;
	background-position: center;
}

/* PRODUCT IMAGES */

.product-images {
	position: relative;
}

.large-product-image {
	aspect-ratio: 1.1;
}

.image-thumbnails {
	display: none;
}

.image-thumbnails img {
	border: 3px solid transparent;
}

.previous-image,
.next-image {
	position: absolute;
	background-color: white;
	top: 50%;
	transform: translateY(-50%);
	padding: 1.5rem;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.previous-image {
	left: 5%;
	background-image: url("./images/icon-previous.svg");
}
.next-image {
	right: 5%;
	background-image: url("./images/icon-next.svg");
}

/* PRODUCT INFORMATION */
article {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.price,
.discount,
.old-price,
.product-quantity-control > p {
	font-weight: 700;
}

#product-name,
.price,
.product-quantity-control p {
	color: var(--very-dark-blue);
}

.product-quantity-control {
	color: var(--very-dark-blue);
	background-color: var(--light-grayish-blue);
}

#product-description {
	color: var(--dark-grayish-blue);
}

.price {
	margin-inline-end: 0.5rem;
}

.discount {
	color: var(--orange);
	background-color: var(--pale-orange);
	padding: 0.2rem 0.5rem;
	border-radius: 3px;
	font-size: 1rem;
}

.old-price {
	color: var(--grayish-blue);
	text-decoration: line-through;
}

#product-name,
#product-brand,
#pricing-information {
	margin-block-end: 1rem;
}

#product-description {
	margin-block-end: 1.5rem;
}

.product-quantity-control {
	margin-block-end: 0.6rem;
}

#product-name {
	order: 2;
	font-weight: 700;
	font-size: 2rem;
	text-transform: capitalize;
}

#product-brand {
	order: 1;

	font-weight: 700;
	color: var(--orange);
	text-transform: uppercase;
}

#product-description {
	order: 3;
	line-height: 1.4rem;
}

#pricing-information {
	order: 4;

	display: flex;
	justify-content: space-between;
}

article .quantity-control {
	order: 5;
}

.product-quantity-control {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 1rem;
	align-items: center;
	color: black;
}

.product-quantity-control p {
	font-size: 1.2rem;
}
.product-quantity-control button {
	font-size: 2rem;
}

.add-to-cart,
.product-quantity-control button {
	border-radius: 5px;
}

.product-quantity-control button {
	color: orange;
}

.add-to-cart {
	width: 100%;
	font-size: 1.1rem;
	fill: white !important;
}

.add-to-cart img {
	height: 1rem;
	width: 1rem;
	margin-inline-end: 0.5rem;
}

footer {
	margin-block-start: 4rem;
}

.lightbox,
.lightbox-overlay {
	display: none;
}

@media screen and (min-width: 1440px) {
	header {
		width: 80%;
		padding: 1rem 1rem 0.6rem;
		border-block-end: 1px solid var(--grayish-blue);
	}

	header h1 {
		margin-inline-end: 2rem;
	}

	#open-mobile-menu {
		display: none;
	}

	nav#header-menu {
		display: flex !important;
		flex-wrap: wrap;
		position: unset;
		/* width: unset; */
		height: unset;
		margin: unset;
	}

	#close-mobile-menu {
		display: none;
	}

	.header-menu::after {
		display: none;
	}

	.header-links,
	nav#header-menu {
		background-color: transparent;
	}

	#header-menu ul {
		display: flex;
		width: 100%;
		justify-content: start;
	}

	.header-links li {
		margin: 0rem 2rem 0rem 0rem;
		border-block-end: 4px solid transparent;
	}

	.header-menu a {
		color: var(--grayish-blue);
		display: inline-block;
		padding: 2rem 0 calc(2rem - 4px);
	}

	#shopping-cart-toggle {
		margin-inline-end: 3rem;
	}

	.tooltip {
		margin-inline-end: 3rem;
	}

	#shopping-cart {
		justify-content: start;
		align-items: center;
		min-height: 16rem;
		min-width: 23%;
		/* Enlarge the cart when amounts are large numbers. Keeps the delete button on the same line. */
		width: fit-content;
		border: 1px solid var(--grayish-blue);
		top: 4.8rem;
		right: -60rem;
		z-index: 2;
		padding: 0 2rem 2rem;
	}

	#shopping-cart legend {
		margin-inline-start: unset;
	}

	fieldset {
		width: 100%;
	}

	.shopping-cart-product-row,
	#checkout-button {
		margin: unset;
	}

	.shopping-cart-product-row {
		margin-block-end: 2rem;
	}

	#checkout-button {
		width: 100%;
	}

	main {
		padding: 4% 12% 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 60vh;
		column-gap: 6%;
	}

	.product-image-controller {
		display: none;
	}
	.image-thumbnails {
		grid-row-start: 2;
		display: flex;
		justify-content: space-between;
		height: fit-content;
	}

	.image-thumbnails > img {
		width: 7rem;
		height: 7rem;
	}

	img.selected-thumbnail {
		border: 3px solid var(--orange);
	}

	.product-images,
	.lightbox {
		grid-column-start: 1;
		grid-row-start: 1;
		width: unset;
		margin: 0 auto;

		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: 2rem;
	}

	.lightbox img,
	.product-images img {
		border-radius: 12px;
	}

	.lightbox-overlay {
		display: block;
		content: "";
		background-color: var(--lightbox-background);
		opacity: 70%;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 2;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.lightbox {
		position: absolute;
		top: 10%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 40%;
		height: 60%;
		margin: 0 auto;
		z-index: 3;
	}

	.lightbox button {
		display: block;
	}

	.close-lightbox {
		position: absolute;
		right: 0%;
		top: -8%;
		background-color: white;
		border-radius: 100%;
		height: 1.25rem;
		width: 1.25rem;

		background-image: url("./images/icon-close-white.svg");
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	}

	.lightbox .previous-image {
		left: -3%;
	}

	.lightbox .next-image {
		right: -3%;
	}

	.lightbox .image-thumbnails {
		width: 85%;
		margin: 0 auto;
	}

	.lightbox .thumbnail-container,
	.lightbox .thumbnail-container img,
	.lightbox .thumbnail-container.selected-thumbnail,
	.lightbox .thumbnail-container.selected-thumbnail::after {
		border-radius: 12px;
	}
	.lightbox .thumbnail-container {
		width: 6rem;
		height: 6rem;
		border: 3px solid transparent;
	}

	.lightbox .thumbnail-container img {
		border: unset;
	}

	.lightbox .thumbnail-container.selected-thumbnail {
		border-color: var(--orange);
		position: relative;
	}
	.lightbox .thumbnail-container.selected-thumbnail::after {
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		background-color: white;
		position: absolute;
		top: 0;
		opacity: 80%;
	}

	main > article {
		padding-block-start: 4rem;
		padding-inline-end: unset;
		padding-inline-start: unset;
		width: 92%;
	}

	#product-name {
		font-size: 3rem;
	}

	#product-description {
		font-size: 1.1rem;
		line-height: 2rem;
	}

	#pricing-information {
		flex-direction: column;
		font-size: 1.6rem;
	}

	.old-price {
		font-size: 1rem;
	}

	article .quantity-control {
		height: 4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.product-quantity-control,
	.add-to-cart {
		padding: 0;
		height: 100% !important;
	}

	.product-quantity-control {
		width: 30%;
		height: fit-content;
		margin: unset;
		border-radius: 7px;
	}

	.product-quantity-control button {
		padding: 1rem 1rem 1.5rem;
	}

	.add-to-cart {
		width: 60%;
		height: 100%;
	}

	footer {
		position: absolute;
		bottom: 1rem;
		left: 0;
		right: 0;
	}
}

/* HOVER COMPATIBLE DEVICES */
@media (any-hover: hover) {
	.header-links li:hover {
		border-block-end: 4px solid var(--orange);
	}
	.header-links li:hover a {
		color: var(--dark-grayish-blue);
	}

	#shopping-cart-toggle:hover,
	.close-lightbox:hover,
	.image-thumbnails > img:hover,
	.product-image-controller,
	.thumbnail-container,
	button.add-to-cart:hover,
	#avatar:hover {
		cursor: pointer;
	}

	#avatar:hover {
		border: 2px solid var(--orange);
	}

	.image-thumbnails > img:hover,
	.thumbnail-container:hover {
		opacity: 90%;
	}

	button.add-to-cart:hover {
		opacity: 70%;
	}

	.close-lightbox:hover {
		background-color: transparent;
		background-image: url("./images/icon-close-orange.svg");
	}

	.lightbox .previous-image:hover {
		background-image: url("./images/icon-previous-orange.svg");
	}

	.lightbox .next-image:hover {
		background-image: url("./images/icon-next-orange.svg");
	}

	.lightbox .previous-image:active {
		background-image: url("./images/icon-previous.svg");
	}

	.lightbox .next-image:active {
		background-image: url("./images/icon-next.svg");
	}
}
/* END HOVER COMPATIBLE DEVICES */

