.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

/* RESET */
ul {
	padding: 0;
}
button {
	background: none;
	border: none;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

/* UTILITY */

img {
	width: 100%;
	height: auto;
}

.hide {
	display: none;
}

.button-image {
	background-repeat: no-repeat;
	background-position: center;
	height: 2rem;
	width: 2rem;
	margin-left: auto;
	margin-right: 1rem;
}

/* HEADER */

header {
	display: flex;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

#open-mobile-menu {
	margin-right: 1rem;
	background-image: url("./images/icon-menu.svg");
	margin: 0 1rem 0 0;
}

header h1 {
	margin-right: 3rem;
}

header nav {
	margin-right: auto;
}

.header-menu {
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	bottom: 0;
	width: 65%;
}

#close-mobile-menu {
	background-image: url("./images/icon-close.svg");
}

.header-links li {
	list-style-type: none;
	justify-content: space-between;
}

#shopping-cart {
	background-image: url("./images/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: center;
	height: 2rem;
	width: 2rem;
	margin-left: auto;
	margin-right: 1rem;
}

#avatar {
	width: 1.5rem;
}
